@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

body {
  font-family: Quicksand, sans-serif;
  box-sizing: border-box;
  background: #fff;
}
.main-container {
  width: 1368px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.container {
  width: 1296px;
}
header {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.left-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-logo {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.64px;
  margin-right: 44px;
}
/* button-explore */

.header-btn {
  display: block;
  width: 98px;
  height: 39px;
  border-radius: 4px;
  border-style: none;
  background: #0f8277;
  text-align: left;
  padding-left: 12px;
  color: #eee;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  position: relative;
  margin-right: 44px;
  cursor: pointer;
}
.nav-dropdown-menu {
  position: absolute;
  top: 42px;
  left: 0px;
  padding: 0 12px 33px 12px;
  color: rgb(0, 0, 0);
  width: 360px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  display: none;
}
.header-btn:hover .nav-dropdown-menu {
  display: initial;
}

.dropdown-item a:hover {
  color: #0f8277;
  transition: 0.2s;
  font-size: 18px;
}

.dropdown-menu-line {
  width: 100%;
  height: 1px;
  border-radius: 100px;
  background: rgb(0, 0, 0);
}
.dropdown-item {
  padding-top: 16px;
}
.menu-item,
.dropdown-menu-line,
.goals {
  margin-bottom: 40px;
}
.goals .dropdown-item:nth-child(1),
.Themes .dropdown-item:nth-child(1) {
  padding-top: 24px;
}

.dropdown-item a {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
}

.header-btn::after {
  content: "";
  display: block;
  background-image: url(./images/Vector\ 1.svg);
  width: 10px;
  height: 15px;
  position: absolute;
  right: 12px;
  bottom: 13.5px;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  background-repeat: no-repeat;
  background-position: bottom;
}

/* search-menu */

.search-menu {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 330px;
  position: relative;
  margin-right: 112px;
}

.input-search {
  width: 100%;
  /* color: #5c5c5c; */
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  padding-left: 12px;
  padding: 8.5px 0 8.5px 12px;
  border-radius: 4px;
  border: 1px solid #5c5c5c;
}
.input-search::placeholder {
  color: #5c5c5c;
}

.search-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #0f8277;
  padding: 8.5px;
  border: 1px solid #5c5c5c;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.input-search:focus {
  outline: none;
}
/* right-wrapper */
.nav-menu ul li:first-child a {
  margin-right: 48px;
}

.nav-links {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-right: 104px;
}

.main-header-links a:first-child {
  color: #0f8277;
  padding: 10px 12px;
  border-radius: 4px;
}
.main-header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}
.main-header-links a:nth-child(2) {
  border-radius: 4px;
  background: #0f8277;
  padding: 10px 12px;
  color: #eee;
  margin-left: 16px;
}

/* HERO BLOCK */
.learn-comf {
  width: 512px;
  height: 250px;
}
.hero-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  background: #dbf3ed;
  margin-top: 31px;
  width: 1296px;
  height: 602px;
}
.learn-comf h2 {
  color: #000;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 32px;
}
.learn-comf p {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 32px;
}
.hero-buttons {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 24px;
}
.hero-buttons a:nth-child(1) {
  border-radius: 4px;
  padding: 10px 12px;
  background: #0f8277;
  color: #eee;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}
.hero-buttons a:nth-child(2) {
  padding: 8px 12px;
  border-radius: 4px;
  border: 2px solid #0f8277;
  color: #0f8277;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}

/* SECOND SECTION */
.second-section {
}
/* PRELIMINARY INFORMATION BLOCK */
.heading-standart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 40px;
}
.heading-standart h3 {
  color: #0f8277;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}
.first-paragraph {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}
.second-paragraph {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}
/* CARDS BLOCK */
.all-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  border: 1px solid #dadada;
  width: 416px;
  border-radius: 7px;
}
.card img {
  display: block;
  max-width: 416px;
  height: 278px;
  width: 100%;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.card-text {
  width: 384px;
  height: 162px;
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.card-first-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.name-card {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.info-card {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}
.text-position {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}
.logo-position-1 img {
  display: block;
  width: 72px;
  height: 20px;
}
.logo-position-2 img {
  display: block;
  width: 18.151px;
  height: 20px;
}
.logo-position-3 img {
  display: block;
  width: 46.23px;
  height: 20px;
}
.get-diploma {
  color: #0f8277;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  position: relative;
  padding-left: 32px;
  height: 20px;
}
.get-diploma::before {
  content: "";
  display: block;
  background-image: url(./images/icon-logo/cds-react-aria-9.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: -50%;
  transform: translateY(-50%);
}
/* THIRD BLOCK */
.third-section {
}
.cards-of-courses .card {
  width: 306px;
}

.cards-of-courses .card-text {
  width: 274px;
}
.card-link-cousre {
  color: #0f8277;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.cards-of-courses {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.position-more-info {
  display: flex;
  justify-content: center;
  align-items: end;
}
.more-info {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  color: #0f8277;
  align-items: flex-end;
  gap: 16px;
}
.position-more-info img {
  display: block;
  width: 20px;
  height: 20px;
}

/* FOURTH SECTION */

.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.category {
  display: flex;
  width: 306px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.info-card a {
  color: #0f8277;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}
.amount-students {
  margin-top: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

/* FIFTH SECTION  */
.fifth-section {
  background: #dbf3ed;
  width: 1368px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 382px;
}
.fifth-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  width: 1296px;
}
.name-section {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.logo-companies {
  width: 1296px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SIXTH SECTION */
.sixth-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 412px;
}
.sixth-section .learn-comf {
  width: 636px;
  height: 277px;
}
.sixth-section .learn-comf h2 {
  font-size: 40px;
}
.business-block {
  width: 588px;
  display: flex;
  flex-wrap: wrap;
}
.business-block div img {
  display: block;
}
.business-block div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 193px;
  height: 136px;
}
.business-block-1,
.business-block-2,
.business-block-4,
.business-block-5 {
  border-right: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
}
.business-block-3,
.business-block-6 {
  border-bottom: 1px solid #bababa;
}
.business-block-7,
.business-block-8 {
  border-right: 1px solid #bababa;
}

/* SEVENTH SECTION */
.seventh-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dbf3ed;
  width: 1368px;
  margin: 0 auto;
  height: 966px;
}
.seventh-section-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.all-price-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-card {
  display: flex;
  width: 416px;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #0f8277;
  background: #fdfdfd;
  height: 698px;
}
.plan-content {
  padding: 56px;
  height: 476px;
}
.plan-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 286px;
}
.main-info-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 27px;
}

.price-card-text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.info-price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.info-price p:nth-child(1) {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}
.info-price p:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}
.line {
  margin-top: 48px;
  margin-bottom: 48px;
  width: 100%;
  height: 2px;
  border-radius: 80px;
  background: rgb(15, 130, 119);
}
.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.list li {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  position: relative;
  padding-left: 32px;
}
.list li::before {
  content: "";
  display: block;
  background-image: url(./images/seventh-block-vectors/bullit-1.svg);
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
}
.green-container {
  background: rgb(15, 130, 119);
}
.green-container .main-info-card,
.green-container .list li,
.white-color {
  color: rgb(255, 255, 255);
}
.green-container .hero-buttons {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
}
.line-white {
  background: rgb(255, 255, 255);
}
.green-container .list li::before {
  background-image: url(./images/seventh-block-vectors/bullit-2.svg);
}

/* EIGHTH SECTION */
.eighth-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.students-gallery img {
  display: block;
  width: 100%;
}
.students-gallery {
  display: grid;
  grid-template-columns: repeat(4, 306px);
  grid-template-rows: repeat(3, 210.5px);
  gap: 24px;
}
.item-9 {
  grid-area: 1 / 2 / 3 / 4;
}
.item-8 {
  grid-area: 1 / 4 / 2 / 5;
}
.item-8 {
  grid-area: 1 / 4 / 2 / 5;
}
.item-7 {
  grid-area: 2 / 4 / 3 / 5;
}
.item-9 img {
  width: 636px;
  height: 445px;
}
/* NINTH SECTION */
.ninth-section {
  width: 1368px;
  margin: 0 auto;
  background: url(./images/form-background.png) no-repeat;
  background-size: cover;
  height: 727px;
  position: relative;
}

.ninth-section::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.form-container {
  border-radius: 24px;
  width: 505px;
  height: 554px;
  background: rgb(219, 243, 237);
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  padding: 30px;
  z-index: 1;
}
.form-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.ninth-section .second-paragraph {
  text-align: center;
}
.input-box,
.textarea-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: start;
  height: 80px;
}
.input-box label,
.textarea-box label {
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
}
.input-box input,
textarea {
  font-family: Quicksand, sans-serif;
  padding: 12px;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid rgb(15, 130, 119);
  border-radius: 4px;
  background: rgb(253, 253, 253);
}
.input-box input::placeholder,
textarea::placeholder {
  color: rgb(142, 142, 142);
}
.textarea-box {
  height: 136px;
}
form input:focus,
textarea:focus {
  outline: none;
}
.input-search:focus::placeholder,
form input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}
.form-btn {
  border-radius: 4px;
  background: rgb(15, 130, 119);
  border: none;
  color: rgb(246, 253, 255);
  padding: 10px 12px 10px 12px;
  cursor: pointer;
  width: 196px;
  font-family: Cabin, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 4%;
}

/* TENTH SECTION */
.tenth-section {
  display: flex;
  justify-content: space-between;
  height: 111px;
  margin: 0 auto;
  padding: 64px 36px 64px 36px;
}
.left-footer,
.right-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 306px;
  height: 111px;
}
.left-footer .main-logo {
  margin: 0;
}
.left-footer p,
.social-media p {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
}
.social-media {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.instagram,
.facebook,
.linkedin {
  width: 32px;
  height: 32px;
  display: block;
}
.instagram {
  background: url(./images/footer-icon/instagram.svg);
}

.facebook {
  background: url(./images/footer-icon/facebook.svg);
}
.linkedin {
  background: url(./images/footer-icon/linkedin.svg);
}
